
Read-only new/Iowa Weather Data/2041825 - 2017.csv
Read-only new/Iowa Weather Data/2041829 - 2018.csv
Read-only new/Iowa Weather Data/2044459 - 2016.csv
Read-only new/Iowa Weather Data/2044475 - 2016 - readable.csv
Read-only new/Iowa Weather Data/2061830.csv
Read-only new/Iowa Weather Data/attribute abbreviations.txt
Read-only new/Iowa Weather Data/ghcnd-stations.txt
Read-only new/Iowa Weather Data/METAR - format and abbreviations.pdf
Read-only new/Iowa_Liquor_Sales.csv
Read-only new/State_of_Iowa_Salary_Book.csv
v1_Data_Processing/Iowa_Alcohol_Sales/Iowa_Liquor_Sales.csv
v1_Data_Processing/Iowa_Alcohol_Sales/Iowa_Liquor_Sales_Final.csv
v1_Data_Processing/Iowa_Alcohol_Sales/Iowa_Liquor_Sales_Final_2015_2016.csv
*.csv
*.pdf
*.docx
*.pptx
